@import "nullstyle";
@import "limitation";
//========================Шрифти========================//
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
//========================Змінні========================//
$color1: #49464f;
$color2: #7140eb;
$color3: #8172a2;
$color4: #fbf7f3;

body {
	font-family: "Roboto", sans-serif;
	color: $color4;
	background: $color4;
}
//======================================================//

.btn {
	a {
		display: inline-block;
		color: $color4;
		font-size: 16px;
		line-height: 118%;
		background: $color2;
		border-radius: 9999px;
		padding: 10px 25px 10px 25px;
	}
}
//========================Header========================//
.header {
	&__block {
		min-width: 71px;
		display: flex;
		margin-left: 23px;
		margin-right: 29px;
		justify-content: space-between;
		margin-top: 20px;
		flex-wrap: wrap;
		margin-bottom: 20px;
	}

	&__logo {
		margin-right: 10px;
	}

	&__menu {
		display: flex;
		flex-wrap: wrap;
		background: #fff;
		border-radius: 9999px;
	}

	&__land {
		color: #8d867c;
		position: relative;
		font-size: 15px;
		line-height: calc(19 / 15 * 100%);
		a:nth-child(1):after {
			content: "/";
		}
		.active {
			color: $color1;
		}
		a:nth-child(2) {
			left: -3px;
			margin-right: 44px;
		}
	}

	&__button {
		padding-right: 7px;
		a:active {
			background: rgb(240, 204, 2);
		}
	}
}
.menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px 0px;
	&__item {
		display: flex;
		a {
			display: inline-block;
		}
		.active {
			a {
				color: $color1;
			}
		}
	}

	&__list {
		margin-right: 50px;
		&:nth-child(1) {
			margin-left: 40px;
		}
		a {
			color: #8d867c;
			font-size: 15px;
			line-height: calc(19 / 15 * 100%);
		}
	}
}

//========================Main========================//
main {
	flex: 1 1 auto;
}
.sub {
	&__container {
		background: url("../img/main/sub/01.png") no-repeat;
		background-size: cover;
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 90px 20px 78px 20px;
	}

	&__title {
		display: flex;
		margin-bottom: 20px;
		h1 {
			text-align: center;
			flex-wrap: wrap;
			letter-spacing: 2.7px;
			font-size: 80px;
			line-height: calc(90 / 80 * 100%);
		}
	}

	&__sub-title {
		flex-wrap: wrap;
		max-width: 380px;
		text-align: center;
		font-size: 16px;
		line-height: calc(18 / 16 * 100%);
		margin-bottom: 24px;
	}
}
.content {
	&__block {
		height: 800px;
		background: url("../img/main/content/01.png") 0 100% no-repeat;
		background-size: cover;
		padding: 80px 52px 0px 20px;
		margin-bottom: 105px;
	}

	&__text {
		text-align: right;
		h2 {
			font-size: 93px;
			line-height: calc(112 / 93 * 100%);
			letter-spacing: 5.625px;
		}
		span {
			font-size: 29px;
			line-height: calc(28 / 29 * 100%);
		}
	}
}
.bike {
	&__row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		flex: 1 1 33.333%;
		align-items: center;
	}

	&__text {
		max-width: 440px;
		margin-top: -100px;
		h3 {
			color: $color1;
			font-size: 82px;
			line-height: calc(81 / 82 * 100%);
			margin-bottom: 46px;
		}
		span {
			display: block;
			max-width: 330px;
			color: $color3;
			font-size: 20px;
			line-height: calc(20 / 23 * 100%);
			text-align: center;
		}
	}

	&__image {
		img {
			width: 100%;
			height: 100%;
			position: relative;
		}
	}

	&__sub {
		position: relative;
		display: flex;
		flex-direction: column;
		flex: 1 0 auto;
		p {
			font-size: 12px;
			color: $color1;
			line-height: calc(14 / 12 * 100%);
			margin-bottom: 26px;
		}
	}

	&__list {
		li::before {
			content: "";
			padding: 20px 20px;
			background: $color2;
			border-radius: 50%;
			position: absolute;
			left: 0px;
			margin-top: -8px;
		}
	}
}
.list {
	&__items {
		color: $color3;
		font-size: 19px;
		line-height: calc(23 / 19 * 100%);
		padding-left: 55px;

		&:not(:last-child) {
			padding-bottom: 35px;
		}
	}
}
.bike2 {
	&__block {
		display: flex;
		flex-direction: column;
		margin-bottom: 45px;
	}

	&__text {
		color: $color1;
		font-size: 79px;
		line-height: calc(81 / 79 * 100%);
		text-align: center;

		span {
			margin-top: 11px;
			display: block;
			color: $color3;
			font-size: 20px;
			line-height: calc(23 / 20 * 100%);
		}
	}

	&__image {
		img {
			width: 100%;
			height: 100%;
			position: relative;
		}
	}
}
.char {
	&__row {
		display: flex;
	}

	&__collumn {
		display: flex;
		flex-wrap: wrap;
		flex: 1 0 33.333%;
		padding-bottom: 165px;
		justify-content: center;
	}
}
.collumn {
	&__items {
		display: flex;
		flex-direction: column;
		flex: 1 1 33.333%;
		padding-bottom: 20px;
		&:not(:last-child) {
			padding-right: 15px;
		}
	}

	&__title {
		font-size: 30px;
		line-height: calc(36 / 30 * 100%);
		color: #2e2c34;
		margin-bottom: 12px;
	}

	&__image {
		margin-bottom: 22px;
	}

	&__text {
		max-width: 159px;
		font-size: 20px;
		line-height: calc(23 / 20 * 100%);
		color: $color1;
	}
}
.photo {
	&__content {
		img {
			height: 100%;
			width: 100%;
			position: relative;
		}
	}
}
.stay {
	&__block {
		background: url("../img/main/stay/Rectangle.jpg") no-repeat;
		background-size: cover;
		padding-bottom: 27px;
	}

	&__block-text {
		margin-top: 165px;
	}

	&__collumn {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}
.block-text {
	&__title {
		font-size: 85px;
		line-height: calc(81 / 85 * 100%);
		color: $color1;
		letter-spacing: 2.7px;
		margin-bottom: 35px;
	}

	&__text {
		max-width: 305px;
		color: $color3;
		font-size: 19px;
		line-height: calc(22 / 19 * 100%);
		margin-bottom: 175px;
	}
}
.collumn-stay {
	&__items {
		display: flex;
		flex-direction: column;
		flex: 0 1 33.333%;
		padding-bottom: 50px;
		&:not(:last-child) {
			padding-right: 15px;
		}
	}

	&__image {
		margin-bottom: 77px;
	}

	&__text {
		max-width: 283px;
		color: $color1;
		font-size: 22px;
		line-height: calc(27 / 22 * 100%);
	}
}

//========================Footer========================//
.footer {
	&__join {
	}
}
.join {
	&__block {
		background: #f7f0ea;
		display: flex;
		justify-content: space-between;
		padding: 165px 0px;
		align-items: center;
		flex-wrap: wrap;
	}

	&__block-card-left {
	}

	&__block-text-join {
		margin: 0 15px;
		max-width: 510px;
		text-align: center;
		color: $color1;
		display: flex;
		flex-direction: column;
	}
}

.block-text {
	&__title-join {
		font-size: 71px;
		line-height: calc(81 / 71 * 100%);
		letter-spacing: 2.7px;
		margin-bottom: 35px;
	}

	&__text-join {
		display: flex;
		flex-wrap: wrap;
		max-width: 500px;
		font-size: 20px;
		line-height: calc(22 / 20 * 100%);
	}
}
